body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2; /* Light grey background for contrast */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aws-button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, #ff9900, #ff6600);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background 0.3s, box-shadow 0.3s;
    text-align: center;
    text-decoration: none;
}

.aws-button:hover {
    background: linear-gradient(90deg, #ff6600, #ff9900);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.aws-button:active {
    background: linear-gradient(90deg, #cc5200, #cc7700);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}
